In [348]:
import pandas as pd

In [349]:
data = pd.ExcelFile('slova.xls')
data = data.parse(header=None)
data['Slova'] = data[0]
data.drop(columns=[0], inplace=True)

In [350]:
data

                                                                                                               Slova
0                                                                                     1 (0.5)                   BabA
1                                                                                 2 (0.5)                   BaBabAbA
2                                                                             3 (0.5)                   BaBaBabAbAbA
3                                                                         4 (0.5)                   BaBAbaBabAbaBAbA
4                                                                     5 (0.5)                   BaBAbAbaBabAbaBaBAbA
...                                                                                                              ...
2073                        61                                        BABABAbabababababABABABABABABabababababaBABABA
2074  62                                        BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA
2075                                        63                                        BABABABababababababababABABABA
2076                    64                                        BABABABABABAbababababababababababababaBABABABABABA
2077      65                                        BABABABABABABABAbabababababababababababababababaBABABABABABABABA

[2078 rows x 1 columns]

In [351]:
data['Slova'] = data['Slova'].astype(str)

In [352]:
def concat_row(row):
    if row[0].isdigit():
        return row
    elif row.startswith('I'):
        #print(row)
        return row[9:]
    else:
        return row
        
    
data['Slova'] = data['Slova'].apply(concat_row)

In [353]:
pd.set_option('display.max_colwidth', None)

In [354]:
data.iloc[77]

Slova    BabA
Name: 77, dtype: object

In [355]:
data.iloc[75]

Slova    BaBA
Name: 75, dtype: object

In [356]:
index_list = []
for index, row in data.iterrows():
    if data.loc[index][0][0].isdigit():
        pass
    else:
        data.loc[index-1] = data.loc[index-1] + data.loc[index]
        index_list.append(index)

        
#print(index_list)
data.drop(data.index[index_list], inplace=True)
data.reset_index(inplace=True)

In [357]:
"""index_list = []
thirdRow = False

for index, row in data.iterrows():
    try:
        if data.loc[index][0][0].isdigit():
            pass
        else:
            index_list.append(index)
            #print(data.loc[index-1])
            
    except:
        pass
        

        """
#print(index_list)
#data.drop(data.index[index_list], inplace=True)
#data.reset_index(inplace=True)

'index_list = []\nthirdRow = False\n\nfor index, row in data.iterrows():\n    try:\n        if data.loc[index][0][0].isdigit():\n            pass\n        else:\n            index_list.append(index)\n            #print(data.loc[index-1])\n            \n    except:\n        pass\n        \n\n        '

In [358]:
print(data.iloc[82])
print(data.iloc[83])
print(data.iloc[84])

index                                                                                                                                       89
Slova    83 (0.5)     BabABabABabABabaBAbaBAbaBAbaBAbaBAbaBAbaBAbaBABabABabABabABabABabABabABabABAbaBAbaBAbaBAbaBAbaBAbaBAbaBAbabABabABabABabA
Name: 82, dtype: object
index                                                                                                                                           91
Slova    84 (0.5)     BabAbaBAbaBAbABabABaBAbaBAbABabABabAbaBAbaBabABabAbaBAbaBAbABabABaBAbaBAbaBabABabAbaBAbaBabABabABaBAbaBAbABabABaBAbaBAbaBabA
Name: 83, dtype: object
index                                                                                                                                           93
Slova    85 (0.5)     BabABabABAbaBAbaBAbaBAbabABabABabABabABAbaBAbaBAbaBAbabABabABabABabABabaBAbaBAbaBAbaBABabABabABabABabaBAbaBAbaBAbaBABabABabA
Name: 84, dtype: object

In [359]:
data

,index,Slova
0,0,1 (0.5) BabA
1,1,2 (0.5) BaBabAbA
2,2,3 (0.5) BaBaBabAbAbA
3,3,4 (0.5) BaBAbaBabAbaBAbA
4,4,5 (0.5) BaBAbAbaBabAbaBaBAbA
...,...,...
1381,2073,61 BABABAbabababababABABABABABABabababababaBABABA
1382,2074,62 BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA
1383,2075,63 BABABABababababababababABABABA
1384,2076,64 BABABABABABAbababababababababababababaBABABABABABA
1385,2077,65 BABABABABABABABAbabababababababababababababababaBABABABABABABABA

In [360]:
data.iloc[76]

index                                                                                                                               78
Slova    77 (0.5)     BabABaBAbaBAbaBabABabABaBAbaBAbaBabABabABaBAbaBAbaBabABabABabAbaBAbaBAbABabABabAbaBAbaBAbABabABabAbaBAbaBAbABabA
Name: 76, dtype: object

In [361]:
import re
def split_row_class(row):
    delimiters = '(0.5)', '(0.75)', '(2)', '(4)', '(5)', '(8)', '(9)', '(10)', ' '
    regexPattern = '|'.join(map(re.escape, delimiters))
    try:
        row = row.replace(" ","")
        row = re.split(regexPattern, row)
        return row[0].replace(" ", "")
    except:
        
        return row[0]

    
data['Class_index'] = data['Slova'].apply(split_row_class)

In [362]:
data

,index,Slova,Class_index
0,0,1 (0.5) BabA,1
1,1,2 (0.5) BaBabAbA,2
2,2,3 (0.5) BaBaBabAbAbA,3
3,3,4 (0.5) BaBAbaBabAbaBAbA,4
4,4,5 (0.5) BaBAbAbaBabAbaBaBAbA,5
...,...,...,...
1381,2073,61 BABABAbabababababABABABABABABabababababaBABABA,61BABABAbabababababABABABABABABabababababaBABABA
1382,2074,62 BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA,62BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA
1383,2075,63 BABABABababababababababABABABA,63BABABABababababababababABABABA
1384,2076,64 BABABABABABAbababababababababababababaBABABABABABA,64BABABABABABAbababababababababababababaBABABABABABA
1385,2077,65 BABABABABABABABAbabababababababababababababababaBABABABABABABABA,65BABABABABABABABAbabababababababababababababababaBABABABABABABABA

In [363]:

def split_row(row):
    delimiters = '(0.5)', '(0.75)', '(2)', '(4)', '(5)', '(8)', '(9)', '(10)'
    regexPattern = '|'.join(map(re.escape, delimiters))
    try:
        row = re.split(regexPattern, row)
        return row[1].replace(" ", "")
    except:
        return row[0][2:].replace(" ","")
    
data['Slova'] = data['Slova'].apply(split_row)

In [364]:
data

,index,Slova,Class_index
0,0,BabA,1
1,1,BaBabAbA,2
2,2,BaBaBabAbAbA,3
3,3,BaBAbaBabAbaBAbA,4
4,4,BaBAbAbaBabAbaBaBAbA,5
...,...,...,...
1381,2073,BABABAbabababababABABABABABABabababababaBABABA,61BABABAbabababababABABABABABABabababababaBABABA
1382,2074,BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA,62BABABAbabababababABABABABABAbabababababaBABABABABABabababababaBABABA
1383,2075,BABABABababababababababABABABA,63BABABABababababababababABABABA
1384,2076,BABABABABABAbababababababababababababaBABABABABABA,64BABABABABABAbababababababababababababaBABABABABABA
1385,2077,BABABABABABABABAbabababababababababababababababaBABABABABABABABA,65BABABABABABABABAbabababababababababababababababaBABABABABABABABA

In [365]:
data.drop(columns='index', inplace=True)

In [373]:
#data.to_csv('lettersCleaned.csv')

## T promenljiva

In [367]:
dt = pd.ExcelFile('T_promenljiva.xlsx')
dt = dt.parse(names=['Index','Class','v1','v2', 'T', 'T*', 'Lf', 'Stability','u1','u2','mi'], header=None)

In [368]:
dt.reset_index(inplace=True)
dt.drop(columns=['index','u1', 'u2'], inplace=True)
dt.drop(dt[dt['Class']=='Class and number'].index, inplace=True)

In [369]:
dt

,Index,Class,v1,v2,T,T*,Lf,Stability,mi
0,1.0,-0.5,0.286924,0.079185,4.176129,4.538,4,U,0.315879
1,2.0,-0.5,0.342031,0.180937,13.915334,9.063,8,U,1.97222
2,3.0,-0.5,0.369772,0.191007,25.944195,13.095,12,U,2.314004
3,4.0,-0.5,0.200966,0.243108,19.013416,19.086,16,U,6.927685
4,5.0,-0.5,0.261324,0.235624,28.435858,23.513,20,U,1.109487
...,...,...,...,...,...,...,...,...,...
1357,1.0,-10,0.956588,0.849097,24.256801,1935.907,64,U,3.577508
1358,1.0,-10,0.998615,0.593517,47.936051,3932.658,130,U,2.119012
1359,1.0,-10,0.963922,0.974436,48.13162,3751.177,124,U,7.666035
1360,2.0,-10,0.925484,0.95173,49.868521,3931.244,130,U,1.824135
1361,3.0,-10,0.963741,0.482009,95.61851,7985.803,264,U,0.379908

In [370]:
#dt.to_csv('numbersCleaned.csv')